:root {
  --color1: #2B2B2B;
  --color2: #F6F6F6;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #AAAAAA;
}
header {
  text-align: center;
  font-size: 3em;
  font-family: "Audiowide";
}
header span:nth-child(1){
  color: var(--color1);
}
header span:nth-child(2){
  color: var(--color2);
}
header span:nth-child(3) {
  color: var(--color1);
}
header span:nth-child(4) {
  color: var(--color2);
}
header span:nth-child(5) {
  color: var(--color1);
}
header span:nth-child(6) {
  color: var(--color2);
}
header span:nth-child(7) {
  color: var(--color1);
}
.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90vw;
  aspect-ratio: 1;
  border: 2vw solid var(--color1);
  border-radius: 15px;
  background-image: 
  conic-gradient( 
  var(--color1) 0deg,
  var(--color1) 90deg,
  var(--color2) 90deg,
  var(--color2) 180deg,
  var(--color1) 180deg,
  var(--color1) 270deg,
  var(--color2) 270deg);
  background-size: 22.5vw 22.5vw;
}